@import "compass/reset";
@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin coverer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
$font-color: #333;

* {
    box-sizing: border-box;
    &:before,&:after{
    box-sizing: border-box;

    }
}

html {
    font-size: 10px;
    line-height: 1.5em;-webkit-text-size-adjust:none
}

body {
    // font-family: Georgia, "Times New Roman", Times, serif;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.45;
    color: $font-color;
    padding: 1.5em;
}

h1, h2, h3, h4 ,h5{
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
}

h4 {
    font-size: 14px;
    font-size: 1.4rem;
}
h5{
     font-size: 12px;
    font-size: 1.2rem;
}