@import "base";

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background: url("https://unsplash.imgix.net/uploads/14135967189272ee843f8/f9c22c58?q=75&fm=jpg&s=cb5b8e149a0a516a43ba6f2166ac9949") 40%;
    background-size: cover;
}
@keyframes sentence-anim {
    0% {
        opacity: 0;
        transform: translate(0, 500%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.sentence {
    overflow: hidden;
    color: #fff;
    text-align: right;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
    font-size: 4vmax;
    font-family: 'Oswald', sans-serif;
    opacity: 0;
    animation: sentence-anim 1s forwards;

    &:hover .change {
        animation-play-state: paused;
    }
}

.sites {
    font-size: 2vmax;
}

h1.sentence {
    margin: 0.5em 0;
    font-size: 5vmax;
}

a {
    color: #fff;
    -webkit-tap-highlight-color: transparent;

    &:hover {}
}

.wrapper {
    @include centerer;
    min-width: 60vw;
}

.change {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
@media screen and (max-width: 414px) {
    .wrapper {}

    .sentence {
        font-size: 5vmax;
    }

    h1.sentence {
        font-size: 6vmax;
    }
}
