@import "base";
body {
    font-family: 'Slabo 27px', serif;
}
h2 {
  color: #65BEE5; }
p {
  margin-bottom: .5em;
}

b {
  font-weight: bold;
}

a {
  color: #333;
}

.resume {
  max-width: 800px;
  margin: 0 auto;
}

.name {
  float: left;
}

.title {
  display: block;
  font-size: 1.6em;
  font-size: 16px;
  text-decoration: underline;
}

section {
  margin-top: .5em;
  padding-top: .5em;
  border-top: 1px solid #ccc;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

strong {
  font-weight: bold;
}

.company-logo {
  float: right;
  height: 40px;
}

.projects {
  list-style-type: disc;
  p {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.personal-works .projects > li {
  display: flex;
  padding-bottom: .5em;
  margin-bottom: .5em;
  border-bottom: 1px solid #eee;
  page-break-inside: avoid;
  .part {
    &:nth-child(1) {
      flex: 1;
    }
    &:nth-child(2) {
      flex: 2;
    }
  }
}

.resp {
  font-size: 1.4rem;
  font-size: 14px;
  color: #999;
  margin-bottom: 0.5em;
  li {
    color: #333;
    &:before {
      content: "-";
    }
  }
}

.tech-used {
  overflow: hidden;
  li {
    font-size: 12px;
    float: left;
    background: #eee;
    border-radius: 3px;
    padding: 0 2px;
    margin: 2px;
  }
}

.website {
  width: 100%;
  border-radius: .5em;
  display: block;
}

.contact {
  float: right;
  div {
    text-align: right;
  }
}

.works-list, .honors {
  list-style-type: disc;
}

.works-list a, .honors a {
  margin-right: 1em;
}

.works-list .desc, .honors .desc {
  color: #666;
}
.org {
  &:after {
    content: ", ";
  }
  font-size: 12px;
  font-size: 1.2rem;
  color: #666;
}

.timespan {
  font-size: 12px;
  font-size: 1.2rem;
  color: #666;
}

.skillset {
  display: flex;
  flex-wrap: wrap;
}

.skills {
  flex: 1 1 auto;
}

.separator {
  clear: both;
}

@media all and (max-width: 414px) {
  .works-list a {
    display: block;
  }
}
