@import "base";
body{
    background:#eee;
}
h1{
font-size:7vw;
text-align:center;
}
h2{
    font-size:4vw;
}
.wrapper{
    max-width:800px;
    margin:0 auto;
}

.sketch {
    padding:1em;
    margin:1em 0 ;
    background:#fff;
    border-radius:3px;
    box-shadow:3px 3px 10px 0 rgba(0,0,0,.1);
    img{
        display:block;
        width:100%;
        margin:1em 0;
    }
}